/* app css stylesheet */

body {
    font-family: Roboto-light;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu>li {
    display: inline;
}

.menu>li+li:before {
    content: "|";
    padding-right: 0.3em;
}

.test-page {
    text-align: center;
}

.centered-label {
    /* mix-blend-mode: color; */
}

.draw2d_InputPort {}


/**
 *
 */

.graph-container {
    width: 100%;
    display: inline-block;
    height: 500px;
    box-shadow: 0px 0px 5px #aaa;
    overflow: auto;
}


/* COLOR SPECTRUM */

.sp-replacer {
    border: none;
    background: #cfd8dc;
    padding: 4px 4px 4px 1px;
}

.sp-replacer .sp-preview {
    border: none;
}

.sp-replacer .sp-dd {
    display: none;
}

.sp-container {
    border: none;
    background-color: #eceff1;
}

.sp-palette .sp-thumb-el {
    border: none;
}