<div class="dataview">

    <div ng-if="model!=null">
        <h2>{{model.toStringType()}}</h2>
        <div class="dataview-separator"></div>
        <form class="form-horizontal" sf-schema="model_schema" sf-model="model"></form>
        <div class="dataview-separator"></div>
        <form class="form-horizontal form-layout-options" sf-schema="layout_schema" sf-form="layout_form" sf-model="model"></form>
    </div>

    <!--<div ng-jsoneditor="onLoad" ng-model="test" options="obj.options" style="width: 400px; height: 300px;"></div>-->
</div>